<div class="container">
    <br>
    <button class="btn btn-outline-primary" id="boton">Cambiar</button>
    <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea id="texto" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>